.center{
    width: 100%;
    height: auto;
}
h1{
    text-align: center;
}
.picText
{
    font-weight: bold;
    text-shadow: 2px 2px red;
}
.card-img-top{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -30px;
    width: 60px !important;
    height: 60px;
}
.FontCase1{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    text-align: center;


}
.FontCase2{



}
.FontCase3{



}