.center{
    width: 100%;
    height: auto;
}
h1{
    text-align: center;
}
.picText
{
    font-weight: bold;
    text-shadow: 2px 2px rgb(31, 23, 184);
}
.card-img-top{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -30px;
    width: 60px !important;
    height: 60px;
}
.titlepage1{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color:white;
 background-color: gray;
 


}
.FontCase2{




}
.FontCase3{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: rgb(139, 91, 31);

}
.IndieFont{
    font-family: 'Indie Flower', cursive;
}

.body {
    background-image: url("../assets/Dectectives_Office.jpg");
    
   }
.danButton
   {
    background-color: red;
    float: right;
   }